<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARMiRARTE</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">0
</head>
<body>
    <div class="container">
        <header class="header">
            <nav class="header__nav">
                <a href="#" class="header__logo">
                    <img src="../images/icono-logo_black.jpg" alt="Logo Empresa">
                </a>
                <button class="header__toggle">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <ul class="header__menu">
                    <li class="header__item"><a href="#">Inicio</a></li>
                    <li class="header__item"><a href="#">Servicios</a></li>
                    <li class="header__item"><a href="#">Proyectos</a></li>
                    <li class="header__item"><a href="#">Clientes</a></li>
                    <li class="header__item"><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </header>

        <!-- Primera sección (resta el navbar) -->
        <section class="section section--first hero">
            <div class="hero__overlay"></div>
            <div class="hero__content">
              <h1 class="hero__title">Transformando tu imaginación</h1>
            </div>
        </section>
        <section class="section section--second">
            <div class="hero__overlay"></div>
            <div class="hero__content">
              <h1 class="hero__title">Transformando tu imaginación</h1>
            </div>
        </section>
    </div>

    <script src="/js/main.js"></script>
</body>
</html>